## Chapter 17. Iterators, Generators, and Classic Coroutines

Example 17-1. sentence.py: A Sentence as a sequence of words

In [2]:
from chapter_classes import Sentence

s = Sentence('"The time has come," the Walrus said,')
s

Sentence('"The time ha... Walrus said,')

In [3]:
for word in s:
    print(word)

The
time
has
come
the
Walrus
said

In [4]:
list(s)

['The', 'time', 'has', 'come', 'the', 'Walrus', 'said']

### Why Sequences Are Iterable: The iter Function

In [1]:
from chapter_classes import Spam

In [2]:
spam_cam = Spam()

In [3]:
iter(spam_cam)

TypeError: iter() returned non-iterator of type 'NoneType'

In [4]:
from collections import abc
isinstance(spam_cam, abc.Iterable)

True

Using iter with a callable

In [1]:
from random import randint

def d6():
    return randint(1,6)

df6_iter = iter(d6, 1)

In [2]:
df6_iter

In [3]:
for roll in df6_iter:
    print(roll)

5
2
6
5
2
5
2
6
6
5

Iterables Versus Iterators

In [1]:
s = 'ABC'
for char in s:
    print(char)

A
B
C

In [2]:
s = 'ABC'
it = iter(s)
while True:
    try:
        print(next(it))
    except StopIteration:
        del it
        break

A
B
C

Example 17-3. abc.Iterator class; extracted from
Lib/_collections_abc.py

chapter classes has this example

In [2]:
from chapter_classes import Circle, Triangle
 
#create a circle object
circle = Circle()
circle.draw()

TypeError: Can't instantiate abstract class Circle with abstract method name

The reason we get this error is that we do not have any property named name in the concrete class Circle. Letâ€™s rectify this by defining the name property in the Circle class:

In [1]:
from chapter_classes import Circle
 
#create a circle object
circle = Circle()
circle.draw()

Drawing a Circle

In [2]:
print(f"The shape name is: {circle.name}")

The shape name is: circle

In [2]:
#create a triangle object
triangle = Triangle()
triangle.draw()

Drawing a Triangle

In [3]:
s3 = Sentence('Life of Brian')
s3

Sentence('Life of Brian')

In [5]:
it = iter(s3)
next(it)

'Life'

In [6]:
next(it)

'of'

In [7]:
next(it)

'Brian'

In [8]:
list(iter(s3))

['Life', 'of', 'Brian']

Example 17-4. sentence_iter.py: Sentence implemented using the Iterator
pattern

code in chapter classes.py

how yield works:

In [9]:
def simple_generator():
    yield 1
    yield 2
    yield 3

In [10]:
for i in simple_generator():
    print(i)

1
2
3

Yeild is for memory effciency:

In [14]:
def csv_reader(arr):
    for row in arr:
        yield row

arr_list = [1,2,3]

my_generator = csv_reader(arr_list)

for row in my_generator:
    print(row)

1
2
3

Lazy sentences

In [1]:
from chapter_classes import LazySentence

In [3]:
s3 = LazySentence('This is a book')
s3

Sentence('This is a book')

In [4]:
for ab in s3:
    print(ab)

This
is
a
book

Example 17-10. Demonstration of an ArithmeticProgression class

In [2]:
from chapter_classes import ArithmeticProgression

In [9]:
# Example usage:
ap = ArithmeticProgression(1, 2, end=5)  # Generates a sequence "A", "C", "E"
for item in ap:
    print(item)

1
3

Generator Functions in the Standard Library

Example 17-14. Filtering generator functions examples

In [1]:
import itertools

In [2]:
def vowel(c):
    return c.lower() in 'aeiou'

list(filter(vowel, 'Aardvark'))

['A', 'a', 'a']

In [3]:
list(itertools.filterfalse(vowel, 'Aardvark'))

['r', 'd', 'v', 'r', 'k']

In [4]:
list(itertools.dropwhile(vowel, 'Aardvark'))

['r', 'd', 'v', 'a', 'r', 'k']

In [5]:
list(itertools.compress('Aardvark', (1, 0, 1, 1, 0, 1)))

['A', 'r', 'd', 'a']

In [6]:
list(itertools.islice('Aardvark', 4))

['A', 'a', 'r', 'd']

In [8]:
list(itertools.islice('Aardvark', 4,7))

['v', 'a', 'r']

In [9]:
list(itertools.islice('Aardvark', 1,7,2))

['a', 'd', 'a']

Example 17-15. itertools.accumulate generator function examples

In [7]:
sample = [5, 4, 2, 8, 7, 6, 3, 0, 9, 1]
list(itertools.accumulate(sample))

[5, 9, 11, 19, 26, 32, 35, 35, 44, 45]

In [14]:
list(itertools.accumulate(sample, min))

[5, 4, 2, 2, 2, 2, 2, 0, 0, 0]

In [15]:
list(itertools.accumulate(sample, max))

[5, 5, 5, 8, 8, 8, 8, 8, 9, 9]

In [8]:
import operator
list(itertools.accumulate(sample, operator.mul))

[5, 20, 40, 320, 2240, 13440, 40320, 0, 0, 0]

In [13]:
list(itertools.accumulate(range(1, 11), operator.mul))

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

Example 17-16. Mapping generator function examples

In [16]:
list(enumerate('albatroz', 1))

[(1, 'a'),
 (2, 'l'),
 (3, 'b'),
 (4, 'a'),
 (5, 't'),
 (6, 'r'),
 (7, 'o'),
 (8, 'z')]

In [17]:

list(map(operator.mul, range(11), range(11)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
list(map(operator.mul, range(11), [2, 4, 8]))

[0, 4, 16]

In [19]:
list(map(lambda a, b: (a, b), range(11), [2, 4, 8]))

[(0, 2), (1, 4), (2, 8)]

In [20]:
list(itertools.starmap(operator.mul, enumerate('albatroz', 1)))

['a', 'll', 'bbb', 'aaaa', 'ttttt', 'rrrrrr', 'ooooooo', 'zzzzzzzz']

In [21]:
sample = [5, 4, 2, 8, 7, 6, 3, 0, 9, 1]
list(itertools.starmap(lambda a, b: b / a,
    enumerate(itertools.accumulate(sample), 1)))

[5.0,
 4.5,
 3.6666666666666665,
 4.75,
 5.2,
 5.333333333333333,
 5.0,
 4.375,
 4.888888888888889,
 4.5]

Example 17-18. itertools.product generator function examples

In [9]:
list(itertools.chain('ABC', range(2)))

['A', 'B', 'C', 0, 1]

In [10]:
list(itertools.chain(enumerate('ABC')))

[(0, 'A'), (1, 'B'), (2, 'C')]

In [11]:
list(itertools.chain.from_iterable(enumerate('ABC')))

[0, 'A', 1, 'B', 2, 'C']

In [12]:
list(zip('ABC', range(5), [10, 20, 30, 40]))

[('A', 0, 10), ('B', 1, 20), ('C', 2, 30)]

In [13]:
list(itertools.zip_longest('ABC', range(5)))

[('A', 0), ('B', 1), ('C', 2), (None, 3), (None, 4)]

In [7]:
list(itertools.zip_longest('ABCEDDG', range(10), fillvalue='?'))

[('A', 0),
 ('B', 1),
 ('C', 2),
 ('E', 3),
 ('D', 4),
 ('D', 5),
 ('G', 6),
 ('?', 7),
 ('?', 8),
 ('?', 9)]

Example 17-19. count, cycle, pairwise, and repeat

In [3]:
list(itertools.product('ABC', range(2)))

[('A', 0), ('A', 1), ('B', 0), ('B', 1), ('C', 0), ('C', 1)]

In [4]:
suits = 'spades hearts diamonds clubs'.split()

In [5]:
list(itertools.product('AK', suits))

[('A', 'spades'),
 ('A', 'hearts'),
 ('A', 'diamonds'),
 ('A', 'clubs'),
 ('K', 'spades'),
 ('K', 'hearts'),
 ('K', 'diamonds'),
 ('K', 'clubs')]

In [6]:
list(itertools.product('ABC'))

[('A',), ('B',), ('C',)]

In [7]:
list(itertools.product('ABC', repeat=2))

[('A', 'A'),
 ('A', 'B'),
 ('A', 'C'),
 ('B', 'A'),
 ('B', 'B'),
 ('B', 'C'),
 ('C', 'A'),
 ('C', 'B'),
 ('C', 'C')]

Example 17-20. Combinatoric generator functions yield multiple values per input item

In [3]:
ct = itertools.count()
next(ct)

0

In [4]:
next(ct), next(ct), next(ct)

(1, 2, 3)

In [5]:
list(itertools.islice(itertools.count(1,.3), 3))

[1, 1.3, 1.6]

In [7]:
cy = itertools.cycle('ABC')
next(cy)

'A'

In [8]:
list(itertools.islice(cy, 7))

['B', 'C', 'A', 'B', 'C', 'A', 'B']

In [10]:
rp = itertools.repeat(7)
next(rp), next(rp)

(7, 7)

In [11]:
list(itertools.repeat(8, 4))

[8, 8, 8, 8]

Example 17-21. itertools.groupby

In [12]:
list(itertools.combinations('ABC', 2))

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [13]:
list(itertools.combinations_with_replacement('ABC', 2))

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

In [17]:
list(itertools.permutations('ABC', 3))

[('A', 'B', 'C'),
 ('A', 'C', 'B'),
 ('B', 'A', 'C'),
 ('B', 'C', 'A'),
 ('C', 'A', 'B'),
 ('C', 'B', 'A')]

In [15]:
list(itertools.product('ABC', repeat=2))

[('A', 'A'),
 ('A', 'B'),
 ('A', 'C'),
 ('B', 'A'),
 ('B', 'B'),
 ('B', 'C'),
 ('C', 'A'),
 ('C', 'B'),
 ('C', 'C')]

Example 17-21. itertools.groupby

In [5]:
for char, group in itertools.groupby('LLLLLAAAGG'):
    print(char, '->', list(group))

L -> ['L', 'L', 'L', 'L', 'L']
A -> ['A', 'A', 'A']
G -> ['G', 'G']

In [6]:
for char, group in itertools.groupby(['LLLLLAAAGG', 'gftgr'], len):
    print(char, '->', list(group))

10 -> ['LLLLLAAAGG']
5 -> ['gftgr']

In [13]:
all([0,0])

False

In [14]:
all([2,0])

False

In [11]:
any([0,0])

False

In [12]:
any([0,1,0])

True

### Subgenerators with yield from

In [15]:
def sub_gen():
    yield 1
    yield 2.2

def gen():
    yield 4
    for i in sub_gen():
        yield i
    yield 3

for x in gen():
    print(x)

4
1
2.2
3