Consider a simple class to represent a geographic coordinate pair:

Example 5-1. class/coordinates.py

In [1]:
class Coordinate:

    def __init__(self, lat, lon) -> None:
        self.lat = lat
        self.lon = lon

In [2]:
ardabil = Coordinate(38.2537, 48.3000)
ardabil

In [4]:
location = Coordinate(38.2537, 48.3000)
location

In [5]:
location == ardabil

False

In [6]:
(location.lon, location.lat) == (ardabil.lon, ardabil.lat)

True

Here is a Coordinate class built with namedtuple—a factory function
that builds a subclass of tuple with the name and fields you specify:

In [9]:
from collections import namedtuple
Coordinate = namedtuple('Coordinate', 'lat lon')
ardabil = Coordinate(38.2537, 48.3000)
location = Coordinate(38.2537, 48.3000)

location == ardabil

True

In [10]:
import typing

Coordinate = typing.NamedTuple('Coordinate', [('lat', float), ('lon', float)])
typing.get_type_hints(Coordinate)

{'lat': float, 'lon': float}

Example 5-2. typing_namedtuple/coordinates.py

In [11]:
from typing import NamedTuple

class Coordinate(NamedTuple):
    lat: float
    lon: float

    def __str__(self) -> str:
        ns = 'N' if self.lat >= 0 else 'S'
        we = 'E' if self.lon >= 0 else 'W'
        return f'{abs(self.lat):.1f}°{ns}, {abs(self.lon):.1f}°{we}'

In [12]:
issubclass(Coordinate, tuple)

True

Example 5-3. dataclass/coordinates.py

In [16]:
from dataclasses import dataclass

@dataclass(frozen=True)
class Coordinate(NamedTuple):
    lat: float
    lon: float

    def __str__(self) -> str:
        ns = 'N' if self.lat >= 0 else 'S'
        we = 'E' if self.lon >= 0 else 'W'
        return f'{abs(self.lat):.1f}°{ns}, {abs(self.lon):.1f}°{we}'

Example 5-4 shows how we could define a named tuple to hold information
about a city.

Example 5-4. Defining and using a named tuple type

In [19]:
from collections import namedtuple

City = namedtuple('City', 'name country population coordinates')
ardabil = City('Ardabil', 'IR', 1.6, (48, 17))
ardabil

City(name='Ardabil', country='IR', population=1.6, coordinates=(48, 17))

In [20]:
ardabil.population

1.6

In [21]:
ardabil.coordinates

(48, 17)

In [25]:
ardabil[3]

(48, 17)

Example 5-5. Named tuple attributes and methods (continued from the
previous example)

In [26]:
City._fields

('name', 'country', 'population', 'coordinates')

In [27]:
Coordinate = namedtuple('Coordinate', 'lat lon')
tabriz_data = ('Tabriz', 'IR', 6.2, Coordinate(49.35, 18.23))

tabriz = City._make(tabriz_data)
tabriz

City(name='Tabriz', country='IR', population=6.2, coordinates=Coordinate(lat=49.35, lon=18.23))

In [28]:
tabriz._asdict()

{'name': 'Tabriz',
 'country': 'IR',
 'population': 6.2,
 'coordinates': Coordinate(lat=49.35, lon=18.23)}

In [29]:
import json
json.dumps(tabriz._asdict())

'{"name": "Tabriz", "country": "IR", "population": 6.2, "coordinates": [49.35, 18.23]}'

Example 5-6. Named tuple attributes and methods, continued from
Example 5-5.

In [30]:
Coordinate = namedtuple('Coordinate', 'lat lon reference', defaults=['ABCD'])
Coordinate(0, 0)

Coordinate(lat=0, lon=0, reference='ABCD')

In [31]:
Coordinate._field_defaults

{'reference': 'ABCD'}

Example 5-7. frenchdeck.doctest: Adding a class
attribute and a method to Card, the namedtuple from “A
Pythonic Card Deck”

In [33]:
import collections
Card = collections.namedtuple('Card', ['rank', 'suit'])

class FrenchDeck:

    ranks = [str(n) for n in range(2, 11)] + list('JQKA')
    suits = 'spades diamonds clubs hearts'.split()
    def __init__(self):
        self._cards = [Card(rank, suit) for suit in self.suits
                                        for rank in self.ranks]
    def __len__(self):
        return len(self._cards)
    def __getitem__(self, position):
        return self._cards[position]

In [36]:
Card = namedtuple('Card', ['rank', 'suit'])
Card.suit_values = dict(spades=3, hearts=2, dimonds=1, clubs=0)

def spades_high(card):

    rank_value = FrenchDeck.ranks.index(card.rank)
    suit_value = card.suit_values[card.suit]
    return rank_value * len(card.suit_values) + suit_value

Card.overall_rank = spades_high

lowest_card = Card('2', 'clubs')
highest_card = Card('A', 'spades')
lowest_card.overall_rank()
highest_card.overall_rank()

51