In [15]:
from ast import literal_eval
import pandas as pd
df = pd.read_csv("test_case.csv")
new_df=pd.DataFrame()
for main_list, dup_list in zip(df['listing_id'].loc[:48], df['duplicates'].loc[:48]):
    result = literal_eval(dup_list)
    #result = dup_list.split(',')
    for res in result:
        new_df = new_df.append({ 'listing_id_1':int(main_list), 
                                'listing_id_2':int(res)},
                                ignore_index=True)


new_df.to_csv("testcase_res.csv",mode='a' ,index=False, header=False)

In [16]:
new_df

     listing_id_1  listing_id_2
0       2126147.0     1948846.0
1       2127031.0     1897657.0
2       2127166.0     2046233.0
3       2127166.0     1940962.0
4       1243873.0     1210952.0
..            ...           ...
163     1248959.0     1016313.0
164     1248982.0     1247923.0
165     2464789.0     2463833.0
166     2464789.0     2462663.0
167     2466152.0     2114870.0

[168 rows x 2 columns]