In [31]:
from ast import literal_eval
import pandas as pd
df = pd.read_csv("test_case.csv")
new_df0 = pd.DataFrame()
new_df=[]
for main_list, listings in zip(df['listing_id'].iloc[:59], df['candidates'].iloc[:59]):
    for listing in literal_eval(listings):         
        new_df0 = new_df0.append({'listing_id_1': int(main_list),
                                'listing_id_2': int(listing)},
                                ignore_index=True)

new_df0.to_csv("testcase_res.csv", index=False)

In [32]:
new_df0

     listing_id_1  listing_id_2
0         86525.0      330742.0
1         86525.0      376284.0
2         86525.0      330527.0
3         86525.0      319751.0
4         86525.0     1834565.0
..            ...           ...
492      632928.0      774657.0
493      632928.0      248868.0
494      632928.0      549173.0
495      632928.0      885272.0
496      632928.0      509761.0

[497 rows x 2 columns]