Remove all cahracters execpt numbers and ,

In [16]:
from ast import literal_eval
import pandas as pd
df = pd.read_csv("test_case.csv")
import re
new_df=pd.DataFrame({'listings':[]})
new_df0 =[]
df = pd.read_csv("test_case.csv")
for stri in df['array_agg']:
    try:
        result = re.sub('[^0-9,]','', stri)
        new_df = new_df.append({'listings':int(result.split(',')[0])}, ignore_index=True)
    except:
        continue


new_df.to_csv("testcase_res.csv", index=False)

In [15]:
new_df

       listings
0    10552495.0
1    10293117.0
2     2676951.0
3     2680466.0
4      985846.0
..          ...
169   1713970.0
170  10247161.0
171  10247198.0
172  10516429.0
173  10517338.0

[174 rows x 1 columns]

read list and make it readable

In [ ]:
from ast import literal_eval
import pandas as pd
df = pd.read_csv("test_case.csv")
import re
new_df=[]
for stri in df['duplicates']:
    result = literal_eval(stri)
    new_df.append(result)

df['duplicates2']=new_df
df.to_csv("testcase_res.csv")

SyntaxError: unmatched ']' (<unknown>, line 1)