Packages for Functional Programming

Example 7-11. Factorial implemented with reduce and an anonymous
function

In [1]:
from functools import reduce

def factorial(n):
    return reduce(lambda a, b: a*b, range(1, n+1))

In [2]:
factorial(5)

120

Example 7-12. Factorial implemented with reduce and operator.mul

In [3]:
from operator import mul

def factorial(n):
    return reduce(mul, range(1, n+1))

In [4]:
factorial(5)

120

Example 7-13. Demo of itemgetter to sort a list of tuples (data from
Example 2-8)

In [5]:
metro_data = [
        ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
        ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
        ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
        ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
        ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
    ]
from operator import itemgetter

for city in sorted(metro_data, key=itemgetter(1)):
    print(city)

('São Paulo', 'BR', 19.649, (-23.547778, -46.635833))
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))
('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
('Mexico City', 'MX', 20.142, (19.433333, -99.133333))
('New York-Newark', 'US', 20.104, (40.808611, -74.020386))

In [6]:
cc_name = itemgetter(1, 0)
for city in metro_data:
    print(cc_name(city))

('JP', 'Tokyo')
('IN', 'Delhi NCR')
('MX', 'Mexico City')
('US', 'New York-Newark')
('BR', 'São Paulo')

Example 7-14. Demo of attrgetter to process a previously defined list of
namedtuple called metro_data (the same list that appears in Example 7-13)

In [7]:
from collections import namedtuple

LatLon = namedtuple('LatLon', 'lat lon')
Metropolis = namedtuple('Metropolis', 'name cc pop coord')
metro_areas = [Metropolis(name, cc, pop, LatLon(lat, lon))
    for name, cc, pop, (lat, lon) in metro_data]
metro_areas[0]

Metropolis(name='Tokyo', cc='JP', pop=36.933, coord=LatLon(lat=35.689722, lon=139.691667))

In [8]:
metro_areas[0].coord.lat

35.689722

In [9]:
from operator import attrgetter
name_lat = attrgetter('name', 'coord.lat')

In [10]:
for city in sorted(metro_areas, key=attrgetter('coord.lat')):
    print(name_lat(city))

('São Paulo', -23.547778)
('Mexico City', 19.433333)
('Delhi NCR', 28.613889)
('Tokyo', 35.689722)
('New York-Newark', 40.808611)

In [12]:
import operator
[name for name in dir(operator) if not name.startswith('_')]

['abs',
 'add',
 'and_',
 'attrgetter',
 'concat',
 'contains',
 'countOf',
 'delitem',
 'eq',
 'floordiv',
 'ge',
 'getitem',
 'gt',
 'iadd',
 'iand',
 'iconcat',
 'ifloordiv',
 'ilshift',
 'imatmul',
 'imod',
 'imul',
 'index',
 'indexOf',
 'inv',
 'invert',
 'ior',
 'ipow',
 'irshift',
 'is_',
 'is_not',
 'isub',
 'itemgetter',
 'itruediv',
 'ixor',
 'le',
 'length_hint',
 'lshift',
 'lt',
 'matmul',
 'methodcaller',
 'mod',
 'mul',
 'ne',
 'neg',
 'not_',
 'or_',
 'pos',
 'pow',
 'rshift',
 'setitem',
 'sub',
 'truediv',
 'truth',
 'xor']

Example 7-15. Demo of methodcaller: second test shows the binding of
extra arguments

In [13]:
from operator import methodcaller
s = 'The time has come'
upcase = methodcaller('upper')
upcase(s)

'THE TIME HAS COME'

In [14]:
hyphenate = methodcaller('replace', ' ', '-')

In [15]:
hyphenate(s)

'The-time-has-come'

Freezing Arguments with functools.partial

Example 7-16. Using partial to use a two-argument function where a one-
argument callable is required

In [16]:
from operator import mul
from functools import partial

triple = partial(mul, 3)

In [17]:
triple

functools.partial(<built-in function mul>, 3)

In [18]:
list(map(triple, range(1, 10)))

[3, 6, 9, 12, 15, 18, 21, 24, 27]

Example 7-17. Building a convenient Unicode normalizing function with
partial

In [19]:
import unicodedata, functools

nfc = functools.partial(unicodedata.normalize, 'NFC')
s1 = 'café'
s2 = 'cafe\u0301'
s1, s2

('café', 'café')

In [20]:
s1 == s2

False

In [21]:
nfc(s1) == nfc(s2)

True

Example 7-18. Demo of partial applied to the function tag from
Example 7-9

In [23]:
def tag(name, *content, class_=None, **attrs):
    """Generate one or more HTML tags"""
    if class_ is not None:
        attrs['class'] = class_
    attrs_pairs = (f' {attr}="{value}"' for attr, value
                    in sorted(attrs.items()))
    attr_str = ''.join(attrs_pairs)
    if content:
        elements = (f'<{name}{attr_str}>{c}</{name}>'
                    for c in content)
        return '\n'.join(elements)
    else:
        return f'<{name}{attr_str} />'

In [24]:
tag('p')

'<p />'

In [25]:
from functools import partial

picture = partial(tag, 'img', class_='pic-frame')

In [26]:
picture(src='wumpus.jpeg')

'<img class="pic-frame" src="wumpus.jpeg" />'

In [27]:
picture

functools.partial(<function tag at 0x7f3aa8d46040>, 'img', class_='pic-frame')

In [28]:
picture.func

In [29]:
picture.args

('img',)

In [30]:
picture.keywords

{'class_': 'pic-frame'}