Lewis Carroll is the pen name of Prof. Charles Lutwidge Dodgson. Mr.
Carroll is not only equal to Prof. Dodgson: they are one and the same.
Example 6-3 expresses this idea in Python.
Example 6-3. charles and lewis refer to the same object

In [1]:
charles = {'name': 'charles L. Dodgson', 'born': 1832}

lewis = charles
lewis is charles

True

In [2]:
id(charles) , id(lewis)

(139924522994944, 139924522994944)

In [3]:
lewis['age'] = 95

In [4]:
charles

{'name': 'charles L. Dodgson', 'born': 1832, 'age': 95}

In [5]:
alex = {'name': 'Charles L. Dodgson', 'born': 1832, 'balance':950}

alex is not charles

True

In [6]:
alex.__eq__(charles)

False

Example 6-5 illustrates the situation in which the value of a tuple changes
as result of changes to a mutable object referenced in it. What can never
change in a tuple is the identity of the items it contains.

Example 6-5. t1 and t2 initially compare equal, but changing a mutable
item inside tuple t1 makes it different

In [17]:
t1 = (1, 2, [30, 40])
t3 = t1
t2 = (1, 2, [30, 40])

t1 == t2
id(t1[-1])

140581866801472

In [18]:
t3= t3[-1].append(99)

In [20]:
t3

In [21]:
id(t1[-1])

140581866801472

In [22]:
t1 == t2

False

In [24]:
t1 is t3

False